
    <!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đăng nhập/Đăng ký</h1>
                <nav class="d-flex align-items-center">
                    <a asp-controller="Home" asp-action="Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Đăng nhập/Đăng ký</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_form_inner">
                    @if (ViewBag.Ok != null)
                    {
                        <div class="alert alert-success">
                            <p>@ViewBag.Ok</p>
                        </div>
                    }
                    @if (ViewBag.Fail != null)
                    {
                        <div class="alert alert-danger">
                            <p>@ViewBag.Fail</p>
                        </div>
                    }
                    <h3>Đăng ký</h3>
                    <form class="row login_form" method="post" id="loginForm" asp-controller="Shop" asp-action="RegisterP">
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="username" name="Username" placeholder="Email" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="Password" placeholder="Mật khẩu" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="PasswordConfirm" placeholder="Xác nhận mật khẩu" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Đăng ký</button>
                            <a href="#">Quên mật khẩu ?</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Đã có tài khoản ?</h4>
                        <p>Đăng nhập để nhận các ưu đãi</p>
                        <a class="primary-btn" asp-controller="Shop" asp-action="Login">Đăng nhập ngay!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->
}
